<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - MessRanchi</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container">

<div style="margin-top:10px";>
    <h1>🖥 About: MessRanchi</h1>
    <div class="about-content">

      <p><strong>MessRanchi</strong> ek local food service platform hai, jo Ranchi ke students aur bachelors ke liye banaaya gaya hai – jahan aap roz alag-alag (lunch & dinner)dono main  <strong>apne pasand ka khana</strong> order kar sakte ho, woh bhi mess plan aur budget mein.</p>

      <p>Hamara main aim hai: <strong>"Ghar jaisa khana, bina jhanjhat ke"</strong> – taaki har student ko roz apni pasand ka new dish ,tasty, hygienic aur affordable khana mile, bina restaurant se baar baar order kiye bina.</p>

      <p>Yeh platform unke liye hai jo hostels,Room, PGs ya apartments mein rehkar regular tiffin/mess dhoondhte hain – lekin flexible plans aur apne pasand ke options ke saath.</p>
</div>
<div style="margin-top:10px";>
      <h3>🚀 Kya MessRanchi ko Unique banata hai?</h3>
      <ul>
        <li>✔️ Daily 30+ meal Options – Veg aur Non-Veg dono</li>
        <li>✔️ Flexible subscription Plans – 15 din, 30 din, ya per day</li>
        <li>✔️ Daily apni pasand ka koe bhi meal order kar sacte ho</li>
        <li>✔️ Fast Delivery , Hygine Food  & WhatsApp Support/ call support available any time</li>
      </ul>
</div>
<div style="margin-top:10px";>
      <h3>📍 Hum kahan deliver karte hain?</h3>
      <p>Filhal hum Ranchi ke selected areas mein hi service dete hain. Like lalpur , kantatoli , dangratoli , morabadi, raturoad , mainroad , kokar.</p>
</div>

<div style="margin-top:20px";>

      <p><strong>MessRanchi – Apni Pasand Ka har  Roz koe naya meal order karo , aur enjoy karo </strong> ❤️</p>
</div>
    </div>
  </div>

<footer class="footer">
  <div class="footer-links">
    <a href="/menu" class="footer-link" style="font-weight:bold;">📋 Menu</a>
    <a href="/terms" class="footer-link" style="font-weight:bold;">📜 Terms & Rules</a>
    <a href="/about" class="footer-link" style="font-weight:bold;">🖥 About</a>
    <a href="/static/app/LalpurFood.apk" class="footer-link" download="LalpurFood.apk" style="font-weight: bold;">📲 Download App</a>
    <a href="tel:+918969161759" class="footer-link" style="font-weight:bold;">📞 Customer Support</a>
  </div>
  <p style="font-weight:bold;color:white;">&copy;2025 Mess Ranchi Developed & Owned By
    <a href="https://wa.me/+918969161759?text=Hi%20Mani%2C%20I%20need%20your%20website" target="_blank"
       style="font-weight:bold;color:red;font-size:14px;">
      Suryamani
    </a>
  </p>
</footer>
</body>
</html>